* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fs: 1.2rem;
  --lfs: 1.5rem;
  --nav-height: 60px;
  --footer-height: 50px;
  --dark: rgb(20, 20, 20);
  --light-dark: rgb(30,30,30);
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--dark);
  color: white;
  font-size: var(--fs);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: var(--nav-height);
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: var(--lfs);
  font-weight: 700;
}

 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li {
  list-style: none;
}

input,textarea {
    width: 100% !important;
    padding: 10px;
    background-color: var(--dark);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

input[type="submit"] {
    margin-bottom: unset;
    margin: 0 auto;
    width: fit-content !important; 
    padding: 10px 20px;
    background-color: var(--dark);
    border-radius: 5px;
    border: 1px solid white;
}

nav {
  position: fixed;
  inset: 0 0 auto 0;
  height: var(--nav-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  padding: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-post h1 {
  text-align: center;
}

footer {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
